<br/>
<h1 style="padding-left: 1em">I love you!!!</h1>
<hr>
<div class="container">
  <div class="row" *ngFor="let p of shipList">
    <div class="col">
      <span>{{ p.vendor }}</span>
      <span>{{ p.customer }}</span>
    </div>
    <div class="col">
      <input type="text" value="{{ p.invoice }}"/>
      <input type="text" value="{{ p.amount }}"/>

    </div>
    <div class="col">
      <span>{{ p.approvedOn }}</span>
    </div>
    <div class="col">
      <span>{{ p.check }}</span>
      <span>{{ p.ccType }}</span>
      <span>{{ p.cc }}</span>
    </div>
    <div style="
      border-bottom: 1px dotted lightgray;
      width:90%;
      margin-left:auto;
      margin-right:auto">
    </div>
  </div>
</div>
<hr>
