<br/>
<h1 style="padding-left: 1em">I love you!!!</h1>
<hr>
<div class="container wide">
  <div class="row">
    <div class="col-sm-2">
      <span class="column-heading">Vendor</span>
    </div>
    <div class="col-sm-2">
      <span class="column-heading">Customer</span>
    </div>
    <div class="col-sm-2">
      <span class="column-heading">Invoice</span>
    </div>
  </div>
  <div class="row" *ngFor="let p of payList; let i = index">
    <app-payment-form [data]="p" style="width:100%"></app-payment-form>
  </div>
</div>
<hr>
