<p-growl [value]="msgs"></p-growl>

<p-dialog header="Error"
          [(visible)]="error.show">
  <p innerHtml="{{error.msg}}"></p>
  <pre>{{error.innerMsg}}</pre>
</p-dialog>

<div id="payments-search" class="ui-widget-header">
  <i class="fa fa-search" style="margin:8px 4px 0 0; padding-right: 8px"></i>
  <input #gb
         type="text"
         pInputText
         size="50"
         placeholder="Search All" style="flex: 1">
</div>

<p-dataTable
  [value]="payments"
  [editable]="true"
  [reorderableColumns]="true"
  [resizableColumns]="true"
  (onColReorder)="saveColumnOrder($event)"
  [rows]="10"
  [paginator]="true"
  [globalFilter]="gb">

  <p-column *ngFor="let col of columns"
            [field]="col.field"
            [header]="col.header"
            [editable]="true"
            [sortable]="true"
            [filter]="true">

    <ng-template let-col let-payment="rowData" pTemplate="body">
      <div *ngIf="payment.fieldErrors[col.field]; else noErrorBody" class="field-error">
        <span
          class="field-error"
          pTooltip="{{payment.fieldErrors[col.field]}}"
          tooltipPosition="bottom">
          <a href="#">p {{payment[col.field]}}</a>
        </span>
      </div>

      <ng-template #noErrorBody>
        <span><a href="#">p {{payment[col.field]}}</a></span>
      </ng-template>
    </ng-template>

    <ng-template let-col let-payment="rowData" pTemplate="editor">
      <div *ngIf="payment.fieldErrors[col.field]; else noErrorEdit">
        <input
          type="text"
          class="field-error"
          [(ngModel)]="payment[col.field]"
          pTooltip="{{payment.fieldErrors[col.field]}}" tooltipPosition="bottom"
          (blur)="onFieldChanged(payment, col)">
      </div>

      <ng-template #noErrorEdit>
        <input
          type="text"
          [(ngModel)]="payment[col.field]"
          (blur)="onFieldChanged(payment, col)">
      </ng-template>
    </ng-template>
  </p-column>

</p-dataTable>
