<p-growl [value]="msgs"></p-growl>

<p-dialog header="Error"
          [(visible)]="error.show">
  <p innerHtml="{{error.msg}}"></p>
  <pre>{{error.innerMsg}}</pre>
</p-dialog>

<div id="payments-search" class="ui-widget-header">
  <i class="fa fa-search" style="margin:8px 4px 0 0; padding-right: 8px"></i>
  <input #gb
         type="text"
         pInputText
         size="50"
         placeholder="Search All" style="flex: 1">
</div>

<p-dataTable
  [value]="rows"
  [editable]="true"
  [reorderableColumns]="true"
  [resizableColumns]="true"
  (onColReorder)="saveColumnOrder($event)"
  [rows]="10"
  [paginator]="true"
  [globalFilter]="gb">

  <p-column *ngFor="let col of columns"
            [field]="col.field"
            [header]="col.header"
            [editable]="true"
            [sortable]="true"
            [filter]="true">

    <ng-template let-col let-row="rowData" pTemplate="body">
      <!-- Error body -->
      <div *ngIf="row.fields[col.field].error; else noErrorBody" class="field-error">
        <span
          class="field-error"
          pTooltip="{{row.fields[col.field].error}}"
          tooltipPosition="bottom">
          <a href="#">p {{row.fields[col.field].value}}</a>
        </span>
      </div>
      <!-- No-error body -->
      <ng-template #noErrorBody>
        <span><a href="#">{{row.fields[col.field].value}}</a></span>
      </ng-template>
    </ng-template>

    <ng-template let-col let-row="rowData" pTemplate="editor">
      <!-- Field references another table, so use a dropdown with values from that table -->
      <div *ngIf="row.fields[row.field].refId">
        <p-dropdown [(ngModel)]="row.fields[row.field].refData"
      </div>

      <!-- Field is plain text input -->
      <ng-template #textEditor>
        <!-- Error editor -->
        <div *ngIf="row.fieldErrors[col.field]; else noErrorEdit">
          <input
            type="text"
            class="field-error"
            [(ngModel)]="row[col.field]"
            pTooltip="{{row.fieldErrors[col.field]}}" tooltipPosition="bottom"
            (blur)="onFieldChanged(row, col)">
        </div>

        <!-- No-error editor -->
        <ng-template #noErrorEdit>
          <input
            type="text"
            [(ngModel)]="row[col.field].value"
            (blur)="onFieldChanged(row, col)">
        </ng-template>
      </ng-template>
    </ng-template>
  </p-column>

</p-dataTable>
